config SHIELD_R1MAX_LEFT
    def_bool $(shields_list_contains,r1max_left)

# No whitespace after the comma or in your part name!
config SHIELD_R1MAX_RIGHT
    def_bool $(shields_list_contains,r1max_right)