
if SHIELD_R1MAX_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "r1max"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_R1MAX_LEFT || SHIELD_R1MAX_RIGHT

config ZMK_SPLIT
    default y

endif